Repository goostengine/goost, pull requests merged in 2021-12, with the labels that each got.

#159 Implemented set/get to add resources directly, MidiFile now has internal format enum
  doc/MidiFile.xml
  doc/MidiPlayer.xml
  scene/audio/midi_player.cpp
  scene/audio/midi_player.h
Labels: enhancement, component:audio :headphones:

#162 Add `Debug2D` singleton
  CHANGELOG.md
  core/register_core_types.cpp
  doc/Debug2D.xml
  doc/DebugCapture.xml
  editor/icons/icon_debug_2_d.svg
  goost.py
  scene/2d/debug_2d.cpp
  scene/2d/debug_2d.h
  scene/2d/visual_shape_2d.h
  scene/register_scene_types.cpp
Labels: feature :bulb:, component:scene

#164 Clear `Debug2D` canvas when switching scenes in the editor
  SCsub
  editor/goost_editor_plugin.cpp
  editor/goost_editor_plugin.h
  editor/register_editor_types.cpp
Labels: bug, enhancement, topic:editor, component:scene

#166 MidiFile load and cleanup Midi docs
  doc/MidiFile.xml
  doc/MidiPlayer.xml
  scene/audio/midi_player.cpp
  scene/audio/midi_player.h
Labels: enhancement, component:audio :headphones:

#165 Add `Spawner2D` node
  CHANGELOG.md
  doc/Spawner2D.xml
  editor/icons/icon_spawner_2d.svg
  goost.py
  scene/2d/spawner_2d.cpp
  scene/2d/spawner_2d.h
  scene/register_scene_types.cpp
Labels: feature :bulb:, component:scene

#167 Add `PolyEllipse2D` node
  CHANGELOG.md
  core/math/geometry/2d/goost_geometry_2d.cpp
  core/math/geometry/2d/goost_geometry_2d.h
  core/math/geometry/2d/goost_geometry_2d_bind.cpp
  core/math/geometry/2d/goost_geometry_2d_bind.h
  doc/GoostGeometry2D.xml
  doc/PolyEllipse2D.xml
  editor/icons/icon_poly_ellipse_2d.svg
  goost.py
  scene/2d/poly_generators_2d.cpp
  scene/2d/poly_generators_2d.h
  scene/register_scene_types.cpp
Labels: feature :bulb:, component:geometry :triangular_ruler:

#168 Add default grid to `Debug2D`
  doc/Debug2D.xml
  goost.py
  scene/2d/debug_2d.cpp
  scene/2d/debug_2d.h
  scene/gui/grid_rect.h
  scene/register_scene_types.cpp
Labels: enhancement, feature :bulb:, component:scene
