Repository goostengine/goost, pull requests merged in 2021-04, with the labels that each got.

#60 Add default radial `LightTexture` implementation
  doc/LightTexture.xml
  editor/icons/icon_light_texture.svg
  goost.py
  register_types.h
  scene/register_scene_types.cpp
  scene/resources/gradient_texture_2d.cpp
  scene/resources/gradient_texture_2d.h
  scene/resources/light_texture.cpp
  scene/resources/light_texture.h
Labels: enhancement, feature

#62 Resolve crashes relating to custom iterators
  core/types/grid_2d.cpp
  core/types/linked_list.cpp
Labels: bug, crash

#63 Clipper: Fix `new-delete-type-mismatch` bug in `DisposeOutPt`
  thirdparty/clipper/clipper.10.0.0-r539-new-delete-type-mismatch.patch
  thirdparty/clipper/clipper.h
Labels: bug, topic:thirdparty

#66 CI: Upgrade Emscripten to 2.0.15
  .github/workflows/javascript_builds.yml
Labels: enhancement, topic:buildsystem

#71 Fix build error with non-existing `zeromem` defines
  core/image/image_indexed.cpp
Labels: bug, topic:core

#70 Added Radom::decision() which returns a bool based on a given probability
  core/math/random.cpp
  core/math/random.h
  doc/Random.xml
Labels: feature, topic:core

#68 Make `Random2D.point_in_region` accept a `Rect2` over endpoints
  core/math/2d/random_2d.cpp
  core/math/2d/random_2d.h
  doc/Random2D.xml
  tests/project/goost/core/math/test_random_2d.gd
Labels: breaks compat, enhancement, topic:core

#72 SCons: Do not search for Godot source in parent directory
  SConstruct
Labels: bug, topic:buildsystem
