Repository goostengine/goost, pull requests merged in 2021-08, with the labels that each got.

#115 Use `#pragma once` in all header files
  core/func_buffer.h
  core/goost_engine.h
  core/image/drivers/png/image_loader_indexed_png.h
  core/image/drivers/png/resource_saver_indexed_png.h
  core/image/goost_image.h
  core/image/goost_image_bind.h
  core/image/image_blender.h
  core/image/image_indexed.h
  core/invoke_state.h
  core/math/geometry/2d/goost_geometry_2d.h
  core/math/geometry/2d/goost_geometry_2d_bind.h
  core/math/geometry/2d/poly/boolean/clipper10/poly_boolean_clipper10.h
  core/math/geometry/2d/poly/boolean/clipper6/poly_boolean_clipper6.h
  core/math/geometry/2d/poly/boolean/poly_boolean.h
  core/math/geometry/2d/poly/decomp/clipper10/poly_decomp_clipper10.h
  core/math/geometry/2d/poly/decomp/poly_decomp.h
  core/math/geometry/2d/poly/decomp/polypartition/poly_decomp_polypartition.h
  core/math/geometry/2d/poly/offset/clipper10/poly_offset_clipper10.h
  core/math/geometry/2d/poly/offset/clipper6/poly_offset_clipper6.h
  core/math/geometry/2d/poly/offset/poly_offset.h
  core/math/geometry/2d/poly/poly_backends.h
  core/math/geometry/2d/poly/poly_node_2d.h
  core/math/geometry/2d/poly/utils/godot_clipper10_path_convert.h
  core/math/geometry/2d/poly/utils/godot_clipper6_path_convert.h
  core/math/geometry/2d/random_2d.h
  core/math/random.h
  core/script/mixin_script/editor/mixin_script_editor.h
  core/script/mixin_script/editor/mixin_script_editor_plugin.h
  core/script/mixin_script/mixin_script.h
  core/types/editor/variant_resource_preview.h
  core/types/linked_list.h
  core/types/variant_map.h
  core/types/variant_resource.h
  editor/editor_about.h
  goost.h
  modules/gdscript_transpiler/bind/gdscript_transpiler_bind.h
  modules/gdscript_transpiler/gdscript_transpiler.h
  modules/gdscript_transpiler/gdscript_transpiler_utils.h
  modules/gdscript_transpiler/languages/gdscript_transpiler_cxx.h
  modules/gif/editor/import/resource_importer_animated_texture.h
  modules/gif/editor/import/resource_importer_sprite_frames.h
  modules/gif/image_frames.h
  modules/gif/image_frames_loader.h
  modules/gif/image_frames_loader_gif.h
  modules/git/git_api.h
  modules/git/git_common.h
  register_types.h
  scene/2d/editor/poly_node_2d_editor_plugin.h
  scene/2d/editor/visual_shape_2d_editor_plugin.h
  scene/2d/poly_generators_2d.h
  scene/2d/poly_shape_2d.h
  scene/2d/visual_shape_2d.h
  scene/gui/grid_rect.h
  scene/main/stopwatch.h
  scene/physics/2d/poly_collision_shape_2d.h
  scene/physics/2d/shape_cast_2d.h
  scene/resources/gradient_texture_2d.h
  scene/resources/light_texture.h
Labels: enhancement, topic:buildsystem

#116 Refactor registration of disabled classes using `ClassDB` alone
  builders.py
  core/image/register_image_types.cpp
  core/math/geometry/register_geometry_types.cpp
  core/math/register_math_types.cpp
  core/register_core_types.cpp
  goost.h
  scene/physics/register_physics_types.cpp
  scene/register_scene_types.cpp
Labels: enhancement, topic:buildsystem, topic:core

#118 Fix erase/remove behavior in `LinkedList` and `ListNode`
  CHANGELOG.md
  core/types/linked_list.cpp
  core/types/linked_list.h
  doc/LinkedList.xml
  doc/ListNode.xml
  tests/project/goost/core/types/test_linked_list.gd
Labels: breaks compat, bug, crash, topic:core

#119 CI: Upload server debug builds with address sanitizer
  .github/workflows/linux_builds.yml
  README.md
Labels: enhancement, topic:buildsystem

#121 Fix crashes when passing invalid `Image` in `GoostImage` methods
  core/image/goost_image.cpp
  tests/project/goost/core/image/test_image.gd
Labels: bug, component:image, crash

#122 Fix `ImageFrames` accepting invalid `Image` when adding frames
  CHANGELOG.md
  modules/gif/doc_classes/ImageFrames.xml
  modules/gif/image_frames.cpp
  modules/gif/image_frames.h
  tests/project/goost/core/image/test_image_frames.gd
Labels: bug, component:image, crash

#124 Fix crashes, add tests and update doc of `ImageBlender`
  core/image/image_blender.cpp
  doc/ImageBlender.xml
  tests/project/goost/core/image/samples/rect_rgb_0_25a.png
  tests/project/goost/core/image/test_image_blender.gd
Labels: bug, crash, component:image

#123 Add command-line parser
  AUTHORS.md
  CHANGELOG.md
  core/command_line_parser.cpp
  core/command_line_parser.h
  core/register_core_types.cpp
  doc/CommandLineHelpFormat.xml
  doc/CommandLineOption.xml
  doc/CommandLineParser.xml
  goost.h
  goost.py
  tests/project/goost/core/test_command_line_parser.gd
Labels: feature, topic:core

#125 Fix `CommandLineParser` crash with `find_option()`
  core/command_line_parser.cpp
  tests/project/goost/core/test_command_line_parser.gd
Labels: bug, crash, topic:core

#126 Add support for transparency while saving GIFs
  modules/gif/doc/ImageFrames.xml
  modules/gif/image_frames.cpp
  tests/project/goost/core/image/test_image_frames.gd
Labels: enhancement, component:image

#127 Expand GIF canvas size according to added frames
  modules/gif/image_frames.cpp
  modules/gif/image_frames.h
  tests/project/goost/core/image/test_image_frames.gd
Labels: enhancement, component:image
