Repository goostengine/goost, pull requests merged in 2021-11, with the labels that each got.

#145 Add custom splash screen
  main/fonts/blinker/Blinker-Black.ttf
  main/fonts/blinker/Blinker-Bold.ttf
  main/fonts/blinker/Blinker-ExtraBold.ttf
  main/fonts/blinker/Blinker-ExtraLight.ttf
  main/fonts/blinker/Blinker-Light.ttf
  main/fonts/blinker/Blinker-Regular.ttf
  main/fonts/blinker/Blinker-SemiBold.ttf
  main/fonts/blinker/Blinker-Thin.ttf
  main/fonts/blinker/OFL.txt
  main/fonts/dancing-font/DancingScript-Bold.ttf
  main/fonts/dancing-font/DancingScript-Regular.ttf
  main/fonts/dancing-font/OFL.txt
  main/splash.png
  main/splash.svg
  tests/project/project.godot
Labels: enhancement, topic:editor

#146 Git plugin: Allow to customize path to repository
  modules/git/git_api.cpp
  modules/git/git_api.h
  modules/git/git_common.cpp
  modules/git/register_types.cpp
Labels: enhancement, topic:editor

#147 Mixinscript editor workflow tweaks
  core/script/mixin_script/editor/mixin_script_editor.cpp
  core/script/mixin_script/editor/mixin_script_editor.h
  core/script/mixin_script/editor/mixin_script_editor_plugin.cpp
Labels: enhancement, component:script :page_with_curl:

#153 Add `GoostMath` singleton
  core/math/math.cpp
  core/math/math.h
  core/math/register_math_types.cpp
  doc/GoostMath.xml
  goost.py
  tests/project/goost/core/math/test_math.gd
Labels: feature :bulb:, component:math ➕

#154 Add `is_between()` method
  core/math/math.cpp
  core/math/math.h
  doc/GoostMath.xml
  tests/project/goost/core/math/test_math.gd
Labels: enhancement, component:math ➕

#155 Add logarithmic functions
  core/math/math.cpp
  core/math/math.h
  doc/GoostMath.xml
  tests/project/goost/core/math/test_math.gd
Labels: enhancement, component:math ➕

#156 Add `is_in_range()` function
  core/math/math.cpp
  core/math/math.h
  doc/GoostMath.xml
  tests/project/goost/core/math/test_math.gd
Labels: enhancement, component:math ➕

#157 Preliminary MidiPlayer implementation
  SCsub
  audio/SCsub
  audio/midi_player.cpp
  audio/midi_player.h
  audio/register_audio_types.cpp
  audio/register_audio_types.h
  doc/MidiPlayer.xml
  goost.py
  thirdparty/SCsub
  thirdparty/tsf/tml.h
  thirdparty/tsf/tsf.h
Labels: feature :bulb:, component:audio :headphones:

#158 Added missing set_data into ADD_PROPERTY
  scene/audio/midi_player.cpp
Labels: bug, component:audio :headphones:
