Repository goostengine/goost, pull requests merged in 2022-02, with the labels that each got.

#172 Add `Graph` class
  core/image/goost_image.cpp
  core/register_core_types.cpp
  core/string_names.cpp
  core/string_names.h
  core/types/graph.cpp
  core/types/graph.h
  core/types/templates/priority_queue.h
  core/types/templates/queue.h
  core/types/templates/stack.h
  core/types/templates/union_find.h
  doc/Graph.xml
  doc/GraphEdge.xml
  doc/GraphIterator.xml
  doc/GraphVertex.xml
  goost.h
  goost.py
  run.py
  scene/2d/spawner_2d.h
  tests/project/goost/core/types/test_graph.gd
  tests/project/project.godot
Labels: feature :bulb:, topic:core

#177 Add a way to enumerate edges connected to `GraphVertex`
  core/types/graph.cpp
  core/types/graph.h
  doc/GraphEdge.xml
  doc/GraphVertex.xml
  tests/project/goost/core/types/test_graph.gd
Labels: enhancement, topic:core

#178 adding Random.choices()
  core/math/random.cpp
  core/math/random.h
Labels: enhancement, feature :bulb:, topic:core

#180 Add `Random.pop()` method
  core/math/random.cpp
  core/math/random.h
  doc/Random.xml
  tests/project/goost/core/math/test_random.gd
Labels: enhancement, feature :bulb:, topic:core

#181 Rename `Random.choice()` to `Random.pick()`
  core/math/random.cpp
  core/math/random.h
  doc/GoostEngine.xml
  doc/Graph.xml
  doc/Random.xml
  tests/project/goost/core/math/test_random.gd
Labels: enhancement, breaks compat, topic:core

#183 Minor fixes for Random.choices, tests and docs
  core/math/random.cpp
  doc/Random.xml
  tests/project/goost/core/math/test_random.gd
Labels: bug, documentation :book:, crash, topic:core
